/* 
body {
    background: plum;
} */
/* 
.card-title {
    background: #333;
    color: white;
}

.card-link {
    background: orange;
    color: white;
} */

.fond_orange {
    background: orange;
}

.fond_bleu {
    background: lightblue;
}

.carousel-caption {
 background-color: rgba(31, 177, 177, 0.2)
}